In [2]:
import requests
import authentication
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
instrument = 'EUR_USD'
count = 10
granularity = 'H1'

In [4]:
url = f'{authentication.OANDA_URL}/instruments/{instrument}/candles'
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [5]:
params = dict(
    count = count,
    granularity = granularity,
    price = 'MBA'
)

In [6]:
response = session.get(url, params=None, headers=authentication.SECURE_HEADER)

In [9]:
data = response.json()

In [16]:
data['candles'][0]

{'complete': True,
 'volume': 6,
 'time': '2022-08-29T09:07:35.000000000Z',
 'mid': {'o': '0.99418', 'h': '0.99418', 'l': '0.99418', 'c': '0.99418'}}

In [17]:
prices = ['mid']
ohlc = ['o', 'h', 'l', 'c']

In [19]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)
print(our_data[0])

{'time': '2022-08-29T09:07:35.000000000Z', 'volume': 6, 'mid_o': '0.99418', 'mid_h': '0.99418', 'mid_l': '0.99418', 'mid_c': '0.99418'}

In [20]:
candles_df = pd.DataFrame.from_dict(our_data)

In [21]:
candles_df.to_pickle('./data/eur_usd_h1.pkl')

In [22]:
test_df = pd.read_pickle('./data/eur_usd_h1.pkl')
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c
0,2022-08-29T09:07:35.000000000Z,6,0.99418,0.99418,0.99418,0.99418
1,2022-08-29T09:07:40.000000000Z,2,0.99424,0.99424,0.99424,0.99424
2,2022-08-29T09:07:45.000000000Z,2,0.99425,0.99425,0.99424,0.99424
3,2022-08-29T09:07:50.000000000Z,2,0.99427,0.99427,0.99424,0.99424
4,2022-08-29T09:07:55.000000000Z,16,0.99423,0.99424,0.99408,0.99409
...,...,...,...,...,...,...
494,2022-08-29T09:49:50.000000000Z,6,0.99542,0.99544,0.99542,0.99542
495,2022-08-29T09:49:55.000000000Z,1,0.99544,0.99544,0.99544,0.99544
496,2022-08-29T09:50:00.000000000Z,5,0.99539,0.99540,0.99538,0.99540
497,2022-08-29T09:50:05.000000000Z,11,0.99542,0.99542,0.99540,0.99540
498,2022-08-29T09:50:10.000000000Z,12,0.99538,0.99544,0.99538,0.99544

in the above section we ran a test for getting historical candles from the broker
we're using the logic to get more data for more symbols

In [3]:
test = pd.read_pickle('./data/ma_test_result.pkl')

In [4]:
test

,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,mashort,malong
0,GBP_USD,156,-171.5,-1.099359,-222.7,507.4,8,32
1,GBP_USD,138,344.2,2.494203,-242.7,492.7,16,32
2,GBP_USD,112,-445.1,-3.974107,-246.8,465.2,8,64
3,GBP_USD,88,-515.7,-5.860227,-305.7,459.8,16,64
4,GBP_USD,66,-0.3,-0.004545,-259.8,440.9,32,64
...,...,...,...,...,...,...,...,...
352,CHF_JPY,25,1276.3,51.052000,-510.7,858.9,64,128
353,CHF_JPY,38,1393.8,36.678947,-209.5,904.9,8,256
354,CHF_JPY,30,677.8,22.593333,-225.5,881.3,16,256
355,CHF_JPY,22,796.3,36.195455,-327.0,911.8,32,256
356,CHF_JPY,14,657.8,46.985714,-507.0,802.6,64,256